@import "../../../styles.scss";

.buildings{
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  display: flex;
  justify-content: center;

  .buildings-container {
    width: 93%;
    max-width: 800px;
    max-height: 96vh;
    background-color: $light-background;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;

    .logout-buildings {
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px 20px 0 0;
    }

    h2 {
      margin: 60px 0 30px 0;
      font-size: 35px;
      color: $primary;
    }
  }

}
