@import "../../../styles.scss";


.remove-building-dialog{
  width: 100%;
  padding: 20px;
  min-height: 300px;

  .dialog-title{
    font-size: 20px; font-weight: bold; color: $primary;
    margin-bottom: 30px;
  }

  .dialog-content{
    width: 100%;
    min-height: 300px;
    flex-direction: column;
    padding: 30px;
    display: flex;
    gap: 20px;

    .message, .warn{
      font-weight: bold;
    }

    .message{
      font-size: 20px;
      line-height: 1.3;
      text-align: justify;
      span{
        color: $primary
      }

    }
    .warn{
      font-size: 16px;
      color: $cancel;
    }
  }

  .dialog-buttons{
    width: 100%; display: flex; gap: 20px; justify-content: flex-end;
  }

}

